<div>
  <h1>Exemplo ag-grid com paginação e filtro server-side</h1>
</div>


<ag-grid-angular
  #myGrid
  style="height: 500px"
  class="ag-theme-alpine"

  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  [cacheBlockSize]="50"
  [maxBlocksInCache]="5"
  [cacheOverflowSize]="cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
  [infiniteInitialRowCount]="infiniteInitialRowCount"

  (gridReady)="onGridReady($event)"
  (paginationChanged)="onPaginationChanged($event)"

>
</ag-grid-angular>

